<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepanshu blog | <%= title %>  </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <div class="logo"><h1>my blog</h1></div>
        <div class="menu">
            <h2><a href="/">my blogs</a></h2>
            <h2><a href="/about">about us</a></h2>
            <h2><a href="/blogs/create">create blog</a></h2>
        </div>
    </nav>
    <main>
        <div class="aboutus content">
            <h2>ABOUT US:</h2>
       <p>Welcome to [DEEPANSHU BLOG], a dynamic platform where you not only consume content but also have the opportunity to share your thoughts, experiences, and insights. At OUR BLOGS, we believe in the power of community-driven content creation.
       </p>
       <p>At the core of my blog site is a commitment to providing a space for individuals to express themselves, share their stories, and connect with a diverse audience. Our mission is to providing chance to create blogs of the day, empowering every user to become a creator and contributor.</p>
        </div>
    </main>

    <footer>
        <h3>@copyright &copy;2024</h3>
    </footer>
</body>
</html>