<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepanshu blog | <%= title %>  </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <div class="logo"><h1>my blog</h1></div>
        <div class="menu">
            <h2><a href="/">my blogs</a></h2>
            <h2><a href="/about">about us</a></h2>
            <h2><a href="/blogs/create">create blog</a></h2>
        </div>
    </nav>
    <main>
        <div class="error content">
            <h2>ERROR:404 NOT FOUND</h2>
            <H2>MOYE MOYE......</H2>
        </div>
    </main>

    <footer>
        <h3>@copyright &copy;2024</h3>
    </footer>
</body>
</html>